/* ---START of styles that apply to all pages--- */

/* Main Body Stylings */
body {
    color: #777;
    background-color: #4aaaa5;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 2;
    background-image: url("../images/houndstooth-pattern.png");
    padding: 0;
    margin: 0;
}

/* Header Stylings */
header {
    background-color: #fff;
    height: 100px;
    border-bottom: 3px solid #ccc;
}

/* Centers header content within the boundary of the main content */
#headerContent {
    width: 1000px;
    margin: 0 auto 0 auto;
}

/* Styles the part of the header that says my name */
#Erik {
    float: left;
    color: #fff;
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 24px;
    font-weight: bold;
    height: 100px;
    width: 200px;
    line-height: 100px;
    text-align: center;
}

/* Unordered List Stylings */
ul {
    margin-top: 0;
    margin-bottom: 0;
    float: right;
}

/* List Item Stylings */
li {
    display: inline;
    font-size: 18px;
    padding: 20px;
    line-height: 100px;
}

/* This code can be used to flush the Contact list item to the edge of the main content area like in the example,
    however once I added the hover effect I think it looks better without having it flushed */
/* #noRightPadding {
    padding-right: 0;
} */

/* Adds hover effect to list items */
li:hover {
    background-color: #4aaaa5;
}

/* Removes underlines from anchor elements */
a:link {
    text-decoration: none;
    color: #777;
}

/* Makes it so clicked anchor elements don't turn purple */
a:visited {
    color: #777;
}

/* Main Heading Stylings */
h1 {
    color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    margin-top: 0;
    border-bottom: 3px solid #ccc;
    padding-bottom: 10px;
}

/* Main Content Area Stylings */
#mainContent {
    background-color: #fff;
    width: 960px;
    margin: 50px auto 0 auto;
    padding: 20px;
}

/* Applies clearfix hack */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Footer Stylings */
footer {
    background-color: #666;
    color: #fff;
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    padding-top: 50px;
    border-top: 8px solid #4aaaa5;
}

/* ---END of styles that apply to all pages--- */


/* ---START of styles that apply to About Me page--- */

/* Floats the image to the left and makes it so the paragraphs aren't right up next to it */
#profilePic {
    float: left;
    margin-right: 10px;
}

/* ---END of styles that apply to About Me page--- */


/* ---START of styles that apply to Portfolio page--- */

/* Positioning for the images */
.imageContainer {
    float: left;
    position: relative;
    margin-right: 50px;
}

/* Styling for the banners that appear over the images */
.imageBanner {
    position: absolute;
    bottom: 20px;
    background-color: #4aaaa5;
    color: #fff;
    width: 100%;
    text-align: center;
}

/* ---END of styles that apply to Portfolio page--- */


/* ---START of styles that apply to Contact page--- */

/* Styling for the submit div */
#submitButton {
    background-color: #4aaaa5;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    width: 50px;
    margin-top: 10px;
}

/* Adds hover effect to submit div */
#submitButton:hover {
    background-color: red;
}

/* Makes the text inside the submit div white */
#submitButton a {
    color: #fff;
}

/* Makes the text input fields span the width of the main content area */
input, textarea {
    width: 100%;
}

/* Makes it so the text area under Message: doesn't default to one line */
textarea {
    min-height: 200px;
}

/* ---END of styles that apply to Contact page */