body {
    color: #777;
    background-color: #4aaaa5;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 2;
    background-image: url("../images/houndstooth-pattern.png");
    padding: 0;
    margin: 0;
}

h1 {
    color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    margin-top: 0;
    border-bottom: 3px solid #ccc;
    padding-bottom: 10px;
}

#profilePic {
    float: left;
    margin-right: 10px;
}

.clearfix {
    overflow: auto;
}

header {
    background-color: #fff;
    height: 100px;
    border-bottom: 3px solid #ccc;
}

#headerContent {
    width: 1000px;
    margin: 0 auto 0 auto;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    float: right;
}

li {
    display: inline;
    font-size: 18px;
    padding: 20px;
    line-height: 100px;
}

#noRightPadding {
    padding-right: 0;
}

#Erik {
    float: left;
    color: #fff;
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 24px;
    font-weight: bold;
    height: 100px;
    width: 200px;
    line-height: 100px;
    text-align: center;
}

#mainContent {
    background-color: #fff;
    width: 960px;
    margin: 50px auto 0 auto;
    padding: 20px;
}

a:link {
    text-decoration: none;
    color: #777;
}

a:visited {
    color: #777;
}

footer {
    background-color: #666;
    color: #fff;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    padding-top: 50px;
    border-top: 8px solid #4aaaa5;
}

#submitButton {
    background-color: #4aaaa5;
    color: #fff;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    width: 50px;
    margin-top: 10px;
}

.inputField {
    width: 100%;
}

#messageField {
    height: 200px;
}